@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-weight: 700; */
}

.app{
  background-image: url(./assets/cold.png);
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-in-out;
}

.app.warm{
  background-image: url('./assets/warm.png');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
  padding: 25px;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgb(217, 255, 250);
  border-radius:  0 0 15px 15px;
  margin-top: -25px;

  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.91);

  color: #333333;
  font-size: 20px;
  /* text-align: center; */

  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location, .error{
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.8);
}

.location-box .date{
  color: #FFF;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 700;

  text-shadow: 3px 5px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
}

.weather-box .weather{
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}